@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

#green-blur {
    position: absolute;
    width:100vw;
    height: 100vw;
    background: radial-gradient(50% 50% at 50% 50%, #4AFFA2 0%, rgba(255, 255, 255, 0) 100%);    
    top: -16%;
    left: -10%;
}

#blue-blur {
    left: 10%;
    top: 10%;
    position: absolute;
    width:100vw;
    height: 100vw;
    background: radial-gradient(50% 50% at 50% 50%, #31B5FF 0%, rgba(255, 255, 255, 0) 100%);
} 

main {
    z-index: 1;
    position: relative;
    font-family: 'Titillium Web';
    font-style: normal;
    display: flex;
    flex-direction: column;
    margin: 100px 10%;
}

@media (width >= 800px) {
    main {
        width: 600px;
        margin: 100px auto;
    }

    #green-blur {
        width:500px;
        height: 500px;
        top: -10%;
        left: 10%;g
    }
    
    #blue-blur {
        width:500px;
        height: 500px;
        left: 25%;
        top: 0%;
    } 
}

h1 {

    font-weight: 300;
    font-size: 32px;
    color: #005F1A;
    span {
        color: white;
    }
}

#demo {
    background: white;
    border-radius: 5px;
    border: none;
    padding: 15px 25px;
    width: fit-content;
    margin: 40px auto;
}

p {
    margin-top: 120px;
}

#experts {
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.612772) 51.63%, rgba(255, 255, 255, 0.25) 100%);
    border-radius: 5px;
    border: none;
    padding: 15px 25px;
    width: fit-content;
    margin-left: auto;
    border: 1px #005F1A solid;
}

#mr-me {
    margin-left: 110px;
}

#suppliers, #companies {
    position: absolute;
    animation-name: fade;
    animation-fill-mode: both;
    animation-duration: 8s; /* 4s fade in/out for each, totaling 8s cycle */
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; /* Smooth transition */
}

#suppliers {
    animation-delay: 0s; /* Start immediately */
}

#companies {
    animation-delay: 4s; /* Start after 4s */
}

@keyframes fade {
    0% {
        opacity: 0;
        display: none;
    }
    10% {
        display: block;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
